<div id="app">
  <div class="wssearch" >
    <div class="wssearch--search">
      <input type="text" placeholder="search" @change="search" class="form-control" v-bind:value="term" />
    </div>
    <div class="wssearch--selected">
      <label class="wssearch--selectedfilters" v-for="activefilter in selected" v-bind:for="activefilter.key + '' + activefilter.value">{{activefilter.value ?  activefilter.value : activefilter.name }}</label>
      <button v-if="selected.length" @click="clearfilters">Clear all</button>
    </div>
    <div class="wssearch--filters">
      <div >{{sort}}
        <div v-for="(name, index) in Object.keys(aggs).sort()" v-bind:key="index">
          <h2 v-if="aggs[name].buckets.length" >{{name}}</h2>
          <ul>
            <agg v-for="(agg, i) in aggs[name].buckets" v-bind:agg="agg"  v-bind:key="i" v-bind:index="i" v-bind:name="name"></agg>
            <li v-if="aggs[name].buckets.length > 5" @click="more(name)">
              <span v-if="open.includes(name)" >Less ></span>
              <span v-else >More ></span>
            <li>
          </ul>
        </div>
      </div>
    </div>
    <div class="wssearch--total">
      Found <b>{{total}}</b> results
    </div>
    <div v-bind:class="mainloading">
      <div class="wssearch--hits">
        <hit v-for="(hit, i) in hits" v-bind:hit="hit" v-bind:key="i"></hit>
      </div>
      <div  class="wssearch--pager">
        <span v-for="pager in pagers" @click="next" v-bind:class="activepage(pager)">
          <b v-if="activepage(pager)">
            {{pager}}
          </b>
          <span v-else>
            {{pager}}
          </span>
        </span>
      </div>
    </div>
    </div>
  </div>
