.smws {
    display: grid;
    grid-template-columns: 25ch 1fr;
    grid-gap: 2em;
}
.smws--main {
    transition: filter .2s ease-in-out;
    display: grid;
    grid-gap: 2em;
    grid-template-rows: auto 1fr auto;
}
.smws--selectedfilters:hover {
    background: #efefef;
}

.smws--selectedfilters:after {
    content: "×";
    position: absolute;
    color: #767676;
    right: 4px;
}
.smws--selectedfilters {
    border: 1px solid #767676;
    padding: 0 1em 0 .5em;
    box-sizing: border-box;
    border-radius: 10px;
    position: relative;
    margin: .1em;
}
.smws--filter {

}

.smws--filter ul {
    list-style: none;
    padding: 0;
    margin-left: 0;
}
.smws--filter label {
cursor: pointer;
margin: 0;
}

.smws--filter input[type="checkbox"] {
    cursor: pointer;
}
.smws--hits{

}
.smws--loading{
  filter: blur(1px);
}
.smws--pager {
    justify-self: end;
}
.smws--pager span {
    cursor: pointer;
    padding: 7px 4px;
}
.smws--pager span:hover {
    background: lightgray;
}
