.smws {
    display: grid;
    grid-template-columns: 25ch 1fr;
    grid-gap: 2em;
}
.smws--main {
    display: grid;
    grid-gap: 2em;
    grid-template-rows: auto 1fr auto;
}

.smws--filter {

}

.smws--hits{

}
