.smws {
    display: grid;
    grid-template-columns: 25ch 1fr;
    grid-gap: 2em;
}
.smws--main {
    transition: filter .2s ease-in-out;
    display: grid;
    grid-gap: 2em;
    grid-template-rows: auto 1fr auto;
}

.smws--filter {

}

.smws--filter ul {
    list-style: none;
    padding: 0;
    margin-left: 0;
}
.smws--filter label {
cursor: pointer;
margin: 0;
}

.smws--filter input[type="checkbox"] {
    cursor: pointer;
}
.smws--hits{

}
.smws--loading{
  filter: blur(1px);
}
.smws--pager {
    justify-self: end;
}
.smws--pager span {
    cursor: pointer;
    padding: 7px 4px;
}
.smws--pager span:hover {
    background: lightgray;
}

.smws--slider {
    width: 100%;
    position: relative;
}

.smws--slider input {
    width: 100%;
}
.smws--handle {
    pointer-events: none;
    position: absolute;
    top: auto;
    width: 2em;
    height: 2em;
    background: #0873fa;
    border-radius: 50%;
}

.smws--handle:before {
    content: attr(data-key);
    position: absolute;
    top: -54px;
    width: max-content;
    left: -2px;
    background: #0873fa;
    padding: 0 .4em;
    color: white;
    border-radius: 6px;
}

.smws--handle:after {
    position: absolute;
    background: #0873fa;
    width: 1.2em;
    height: 1.2em;
    top: -3em;
    left: .3em;
    content: "";
    transform: rotate(45deg);
    z-index: -1;
}
.smws--svg{
  transform: scaleY(-1);
z-index: -3;
position: relative;
}
